<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target xsi:type="File" name="debugFileLogger" fileName="logs/debug-${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message}" />
		<target xsi:type="File" name="errorFileLogger" fileName="logs/error-${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message}" />
		<target xsi:type="File" name="infoFileLogger" fileName="logs/info-${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message}" />
		<target xsi:type="Debugger" name="debugger" layout="${longdate} ${uppercase:${level}} ${message}" />

		<target xsi:type="Console" name="console" layout="${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debugFileLogger, Debugger,Console" />
		<logger name="*" minlevel="Error" maxlevel="Error" writeTo="errorFileLogger, Debugger" />
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="infoFileLogger, Debugger" />
	</rules>
</nlog>
